<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <title><%= title %></title>
  </head>
  <body>
    <header>
      <nav class="navbar bg-primary-subtle">
        <div class="container">
          <a class="navbar-brand fw-medium text-primary-emphasis fs-3" href="/"
            >Members Only</a
          >

          <% if (currentUser) { %>
          <div>
            <span class="navbar-text"
              >Welcome back, <b><%= currentUser.fullname %></b>.</span
            >
            <a href="/log-out">LOG OUT</a>
          </div>
          <% } else { %>
          <div>
            <form
              class="row row-cols-lg-auto g-2 align-items-center"
              action="/log-in"
              method="post"
            >
              <div class="col-12">
                <input
                  class="form-control"
                  name="username"
                  type="email"
                  placeholder="Email"
                />
              </div>
              <div class="col-12">
                <input
                  class="form-control"
                  name="password"
                  type="password"
                  placeholder="Password"
                />
              </div>
              <div class="col-12">
                <button class="btn btn-primary">Login</button>
              </div>
            </form>
            <span>Don't have an account? <a href="/sign-up">Sign up.</a></span>
          </div>
          <% } %>
        </div>
      </nav>
    </header>

    <main class="container">
      <h1 class="text-center mt-4">Messages</h1>

      <% if (currentUser) { %>
      <a class="btn btn-primary" href="/message-form">Add message</a>
      <% } %> <% if (posts.length > 0) { %>
      <div class="row row-cols-1 row-cols-md-2 g-4 mt-2">
        <% posts.map(post => { %>
        <div class="col">
          <div class="card">
            <div class="card-header">
              <%= currentUser?.member ? post.user.fullname : 'Unknown author' %>
            </div>
            <div class="card-body">
              <h5 class="card-title"><%= post.title %></h5>
              <p class="card-text"><%= post.content %></p>
              <p class="card-text">
                <small class="text-body-secondary"
                  ><%= currentUser?.member ?
                  `${post.createdAt.toLocaleTimeString()} -
                  ${post.createdAt.toLocaleDateString()}` : 'Unknown date'
                  %></small
                >
              </p>
            </div>
          </div>
        </div>

        <% }) %>
      </div>
      <% } %>
    </main>

    <footer class="mt-4" style="background-color: rgba(0, 0, 0, 0.15)">
      <div class="container text-center p-3">
        <b>Members Only™</b>. Become a <a href="/member-form">member</a> to see
        messages' authors and dates.
      </div>
    </footer>
  </body>
</html>
